#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_install:
	$(MAKE) install DESTDIR=$(CURDIR)/debian/liblmdb++-dev PREFIX=/usr
	mkdir -p debian/liblmdb++-dev/usr/include/lmdbxx
	mkdir -p debian/liblmdb++-dev/usr/lib/pkgconfig
	cp include/lmdbxx/lmdb++.h debian/liblmdb++-dev/usr/include/lmdbxx/
	cp debian/pkg-config/lmdbxx.pc debian/liblmdb++-dev/usr/lib/pkgconfig/

